/* import fonts */
@font-face {
  font-family: "Oswald";
  src:
    local("Trickster"),
    url("oswald/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-weight: bold;
  src:
    local("Trickster"),
    url("oswald/Oswald-Medium.ttf") format("truetype");
}



body{
	font-family: tahoma, verdana, sans-serif;
	background: #faf7f5;
	padding: 1em;
	color: #202020
}

h1{
	font-family: Oswald, tahoma, verdana, sans-serif;
	font-weight: bold;
	margin: 0;
}

h2{
	font-family: Oswald, tahoma, verdana, sans-serif;
	font-weight: inherit;
	margin: 0;
	font-size: 2em;
}

h3{
	font-family: Oswald, tahoma, verdana, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	margin: 0em;
}


h4{
	font-family: Oswald, tahoma, verdana, sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	margin: 0em;
}

h3+p{
	margin: 0.1em;
}

h2+h4{
	margin-bottom: 0.0em;
	margin-top: 0.0em;
}

a:link{
	color: #0c9dff;
}

.date + p{
	margin-top: 0em;
}

hr{
	clear: both;
}

main h2{
	margin: 0.5em 0;
}

header, main, footer{
	max-width: 1000px;
	margin: auto;
}

footer{
	color: grey;
	text-align: right;
}

a, a:visited{
	color: #243CEA;
}

a:hover{
	color: #180C91;
}

nav{
	font-weight: bold;
	margin-bottom: 1.5em;
}


/* make navbar inline and image float depending on screen size*/
@media (min-width: 750px) {

	.qr{
		width: 20%;
	}
	nav ul{
		display: flex;
		padding-left: 0;
	}

	nav li{
		display: inline;
	}

	nav li:not(:last-child)::after{
		content: "–";
		padding: 0 0.75em;
	}

	nav img{
		display: none;
	}

	.left{
		float: right;
		margin: 1em;
		margin-top: 0;
		margin-right: 0;
	}

	/* make floated blocks align with preceding headings */
	h2 + .left{
		margin-top: -3em;
	}

	#icon{
		float: right;
	}

	.articleImg{
		float: right;
		margin:5px;
		object-fit: cover;
		object-position: 25% 25%; 
		width:300px;
		height:150px
	}
}

@media (max-width: 750px) {


	nav ul{
		padding-left: 0;
	}

	nav li{
		display: block;
		line-height: 2em;
		vertical-align: middle;
		font-size: 1.5em;
	}

	nav img{
		width: 1.5em;
		margin-right: 0.5em;
		vertical-align: middle;
	}

	.left{
		width: 100%;
	}

	.qr{
		display: none;
	}

	.articleImg{
		width: 100%;
	}

	table{
		font-size: 2vw;
	}
}

nav a{
	text-decoration: none;
}

ul{
	list-style-type: square;
}

#animecovers img{
	height: 150px;
}

td{
	padding: 0 0.25em;
	border-bottom: 1px solid darkgrey;
}

th{
	padding-top: 0.5em;
	border-bottom: 1px solid darkgrey;
}

tr:hover td{
	border-color: black;
	background: #0002;
}

.headerimg{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.date{
	font-size: 1.1em;
	font-family: Oswald, tahoma, verdana, sans-serif;
	margin: 0.0em;
}


